/*
 ⚡MAKE SURE TO SUBSCRIBE PROGRAMMER CLOUD⚡
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	position: relative;
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
	font-size: 1.5rem;
	color: #333;
	font-weight: 500;
	text-align: center;
}
.container .form {
	margin-top: 30px;
}
.form .input-box {
	width: 100%;
	margin-top: 20px;
}
.input-box label {
	color: #333;
}
.form :where(.input-box input, .select-box) {
	position: relative;
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 1rem;
	color: #707070;
	margin-top: 8px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px;
}
.input-box input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
	display: flex;
	column-gap: 15px;
}
.form .gender-box {
	margin-top: 20px;
}
.gender-box h3 {
	color: #333;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
	display: flex;
	align-items: center;
	column-gap: 50px;
	flex-wrap: wrap;
}
.form .gender {
	column-gap: 5px;
}
.gender input {
	accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
	cursor: pointer;
}
.gender label {
	color: #707070;
}
.address :where(input, .select-box) {
	margin-top: 15px;
}
.select-box select {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	color: #707070;
	font-size: 1rem;
}
.form button {
	height: 55px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 30px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	background: rgb(130, 106, 251);
}
.form button:hover {
	background: rgb(88, 56, 250);
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

.header__wrapper_profile {
	margin-top: 4em;
}

.header__wrapper_profile header {
	width: 100%;
	min-height: calc(100px + 15vw);
}

.header__wrapper_profile .cols__container .left__col {
	padding: 25px 20px;
	text-align: center;
	max-width: 350px;
	position: relative;
	margin: 0 auto;
}

.header__wrapper_profile .cols__container .left__col .img__container {
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translatex(-50%);
}

.header__wrapper_profile .cols__container .left__col .img__container img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper_profile .cols__container .left__col .img__container span {
	position: absolute;
	background: #2afa6a;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	bottom: 3px;
	right: 11px;
	border: 2px solid #fff;
}

.header__wrapper_profile .cols__container .left__col h2 {
	margin-top: 60px;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 5px;
}

.header__wrapper_profile .cols__container .left__col p {
	font-size: 0.9rem;
	color: #818181;
	margin: 0;
}

.header__wrapper_profile .cols__container .left__col .about {
	justify-content: space-between;
	position: relative;
	margin: 35px 0;
}

.header__wrapper_profile .cols__container .left__col .about li {
	display: flex;
	flex-direction: column;
	color: #818181;
	font-size: 0.9rem;
}

.header__wrapper_profile .cols__container .left__col .about li span {
	color: #1d1d1d;
	font-weight: 600;
}

.header__wrapper_profile .cols__container .left__col .about:after {
	position: absolute;
	content: "";
	bottom: -16px;
	display: block;
	background: #cccccc;
	height: 1px;
	width: 100%;
}

.header__wrapper_profile .cols__container .content p {
	font-size: 1rem;
	color: #1d1d1d;
	line-height: 1.8em;
}

.header__wrapper_profile .cols__container .content ul {
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.header__wrapper_profile .cols__container .content ul li {
	display: flex;
}

.header__wrapper_profile .cols__container .content ul i {
	font-size: 1.3rem;
}

.header__wrapper_profile .cols__container .right__col nav {
	display: flex;
	align-items: center;
	padding: 30px 0;
	justify-content: space-between;
	flex-direction: column;
}

.header__wrapper_profile .cols__container .right__col nav ul {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.header__wrapper_profile .cols__container .right__col nav ul li a {
	text-transform: uppercase;
	color: #818181;
}

.header__wrapper_profile .cols__container .right__col nav ul li:nth-child(1) a {
	color: #1d1d1d;
	font-weight: 600;
}

.header__wrapper_profile .cols__container .right__col nav button {
	background: #0091ff;
	color: #fff;
	border: none;
	padding: 10px 25px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}

.header__wrapper_profile .cols__container .right__col nav button:hover {
	opacity: 0.8;
}

.header__wrapper_profile .cols__container .right__col .photos {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	gap: 20px;
}

.header__wrapper_profile .cols__container .right__col .photos img {
	max-width: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
}

/* Responsiveness */
@media screen and (max-width: 500px) {
	.form .column {
		flex-wrap: wrap;
	}
	.form :where(.gender-option, .gender) {
		row-gap: 15px;
	}
}

@media (min-width: 868px) {
	.header__wrapper_profile .cols__container {
		max-width: 1200px;
		margin: 0 auto;
		width: 90%;
		justify-content: space-between;
	}

	.header__wrapper_profile .cols__container .left__col {
		padding: 25px 0px;
	}

	.header__wrapper_profile .cols__container .right__col nav ul {
		flex-direction: row;
		gap: 30px;
	}

	.header__wrapper_profile .cols__container .right__col .photos {
		height: 365px;
		overflow: auto;
		padding: 0 0 30px;
	}
}

@media (min-width: 1017px) {
	.header__wrapper_profile .cols__container .left__col {
		margin: 0;
		margin-right: auto;
	}

	.header__wrapper_profile .cols__container .right__col nav {
		flex-direction: row;
	}

	.header__wrapper_profile .cols__container .right__col nav button {
		margin-top: 0;
	}
}
